<h1>{{title}}</h1>
<form method="post" action="/events">
  <label>Event Title: <input name="title" required></label><br>
  <label>Description:<br><textarea name="description" rows="5"></textarea></label><br>
  <label>Date & Time: <input name="date" type="datetime-local" required></label><br>
  <label>Duration (minutes): <input name="duration" type="number" min="1" value="120"></label><br>
  <label>Location: <input name="location"></label><br>
  <label>Capacity: <input name="capacity" type="number" min="1"></label><br>
  <button type="submit">Create Event</button>
</form>
